

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,.5,0,.7), 0 0 30px rgba(0,0,0,.075);
  background: #FFFFFF; /* Old browsers */
  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007500', endColorstr='#00b2bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
} 

html,
button,
input,
select,
textarea {
    color: #622;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


iframe#colorSpace {
    min-height: 1550px;
    min-width: 1000px;
    }
    
iframe#emmetropization {
    min-height: 2200px;
    }

iframe {
    align: left;
    margin-width: 0;
    margin-heigh: 0;
    scrolling: no;
    width: 1200px;
    border: 0;
    }

aside {
    margin: 1em;
    left: 600px;
    font-size: 14px;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

#frontpage {
    margin: 50px 10px 5px 5px;
    border-style: solid;
    border-width: 6px;
}

#colorSpace {
    width: 220px; /* you can use % */
    height: auto;
}

      
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

table td, table th {
    padding: 1px 8px 1px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
}


div.highlight{
    background-color: white;
}

div.note {
    border: 2px solid #7a9eec;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 10px 60px;
    background: #e1ecfe url(dialog-note.png) no-repeat 10px 8px;
}
 
div.seealso {
    background: #fff6bf url(dialog-seealso.png) no-repeat 10px 8px;
    border: 2px solid #ffd324;
    border-left-style: none;
    border-right-style: none;
    padding: 10px 20px 10px 60px;
}
 
div.topic {
    background: #eeeeee;
    border: 2px solid #C6C9CB;
    padding: 10px 20px;
    border-right-style: none;
    border-left-style: none;
}
 
div.warning {
    background: #fbe3e4 url(dialog-warning.png) no-repeat 10px 8px;
    border: 2px solid #fbc2c4;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 10px 60px;
}

/* Sidebar */
.sidenav { 
    text-align: right;
    padding: 0em 1em;
    width: 220px;
    margin: 30px -40px 0;
    border-opacity: 0.5;
}

li {
text-align: -webkit-match-parent;
}

.sidenav > li:first-child > a {
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}

.sidenav > li > a {
display: block;
width: 200px 9;
margin: 0 0 -1px;
padding: 8px 14px;
border: 1px solid #e5e5e5;
}

.icon-chevron-left {
    float: left;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .5;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

#test {
    align: left;
    }



#searchBox {
    width: 180px;
    }

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

article {
    padding: 2em 3em;
    }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}


@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
    nav li { display: inline; list-style-type: none; text-align: left; width: auto; }

    ul.related { margin: 0 0 8px 0; padding: 0; }
    ul.related li { display: inline; }
    ul.related li.right { float: right; }
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
    li.quicklink { display: inline; float: right; }
}

@media only screen and (min-width: 999px) {
    article { float: left; margin-right: 333px; width: 583px; }

    aside { display: block; float: left; margin-left: -330px; width: 330px; }
}






/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
