<!DOCTYPE html>
<meta charset="utf-8">
    <style>
        
        @import url("./static/style.css");
        
    </style>
  <head>
    <title>Add a new recipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
      
    <h1> input a new recipe</h1>
      
    <form id="myForm" method="post">
      {% csrf_token %}
        
      <br>
      | name of the recipe
      <aside> capitalize the first letter </aside>
      <br>
      <input type="text" name="name" size=80 maxlength=225>
      <br> 
      <br>
      | author of the recipe
      <aside> generally we use mom, unless it come from an external source</aside>
      <br>
      <input type="text" name="author" size=80 maxlength=225>
      <br>
      <br>
      | category of the recipe
      <aside> choose the header to file this recipe under.</aside>
      <br>
      <input type="text" name="category" size=80 maxlength=225>
      <br>
      <br>
      | tags
      <aside> these aren't strictly necessary, but can be useful. use whatever names you think appropriate.</aside>
      <br>
      <input type="text" name="tag1" size=37 maxlength=225>
      <input type="text" name="tag2" size=37 maxlength=225><br>
      <input type="text" name="tag3" size=37 maxlength=225>
      <input type="text" name="tag4" size=37 maxlength=225><br>
      <br>
      <br>
      | add a link to the original recipe, if one exists
      <aside> just copy and pase. </aside>
      <br>
      <input type="text" name="link" size=80 maxlength=225>
      <br>
      <br>
      | choose a display name for link, if inputed above
      <aside> e.g. Giada, if she wrote the recipe </aside>
      <br>
      <input type="text" name="linkName" size=80 maxlength=225>
      <br>
      <br>
      | enter measurements and ingredients
      <aside> just enter some measurements and ingredients. eventually this should look prettier and be more scale able.
          <ul><em> some conventions</em>
              <li> keep everything lower case</li>
              <li> Tbsp: tablespoon</li>
              <li> tsp: teaspoon</li>
              <li> lb: pound</li>
              
          </ul>
      </aside>
      <br>

      <input type="text" name="meas1" size=20 maxlength=225>
      <input type="text" name="ing1"size=70 maxlength=225><br>
      <input type="text" name="meas2" size=20 maxlength=225>
      <input type="text" name="ing2"size=70 maxlength=225><br>
      <input type="text" name="meas3" size=20 maxlength=225>
      <input type="text" name="ing3"size=70 maxlength=225><br>
      <input type="text" name="meas4" size=20 maxlength=225>
      <input type="text" name="ing4"size=70 maxlength=225><br>
      <input type="text" name="meas5" size=20 maxlength=225>
      <input type="text" name="ing5"size=70 maxlength=225><br>
      <input type="text" name="meas6" size=20 maxlength=225>
      <input type="text" name="ing6"size=70 maxlength=225><br>
      <input type="text" name="meas7" size=20 maxlength=225>
      <input type="text" name="ing7"size=70 maxlength=225><br>
      <input type="text" name="meas8" size=20 maxlength=225>
      <input type="text" name="ing8"size=70 maxlength=225><br>
      <input type="text" name="meas9" size=20 maxlength=225>
      <input type="text" name="ing9"size=70 maxlength=225><br>
      <input type="text" name="meas10" size=20 maxlength=225>
      <input type="text" name="ing10"size=70 maxlength=225><br>
      <input type="text" name="meas11" size=20 maxlength=225>
      <input type="text" name="ing11"size=70 maxlength=225><br>
      <input type="text" name="meas12" size=20 maxlength=225>
      <input type="text" name="ing12"size=70 maxlength=225><br>
      <input type="text" name="meas13" size=20 maxlength=225>
      <input type="text" name="ing13"size=70 maxlength=225><br>
      <input type="text" name="meas14" size=20 maxlength=225>
      <input type="text" name="ing14"size=70 maxlength=225><br>
      <input type="text" name="meas15" size=20 maxlength=225>
      <input type="text" name="ing15"size=70 maxlength=225><br>
      <input type="text" name="meas16" size=20 maxlength=225>
      <input type="text" name="ing16"size=70 maxlength=225><br>
      <br>
      <br>
      
      | enter the recipe directions
      <br>
      <textarea rows="10" cols="30" method="post" name="recipe" size=80 style="height:200px;width:500px;font-size:10pt;"></textarea>
      <br>
      <br>
      | notes
      <aside> use an asterisk for each note.</aside>
      <br>
      <textarea method="post" name="notes" size=80 style="height:50px;width:500px;font-size:10pt;"></textarea>
      <br>
      <br>
      | warnings
      <aside> these are mostly for fun, but could be used for noting long cook times, etc. </aside>
      <br>
      <textarea method="post" name="warnings" size=80 style="height:50px; width:500px;font-size:10pt;"></textarea>

      <br>
      <br>
      <input type="submit" value="submit recipe">
    </form>
      
      
  </body>
</html>

